[user]
    name = Andreas Eriksson
    email = andreas.eriksson@glesys.se
    signingkey = 5F45BAEF2A45A8FDCE24D14008C09DBAF91DD614
[color]
    ui = auto
[color "branch"]
    # good looking colors i copy/pasted from somewhere
    current = green bold
    local = green
    remote = red bold
[color "diff"]
    # good looking colors i copy/pasted from somewhere
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    # good looking colors i copy/pasted from somewhere
    added = green bold
    changed = yellow bold
    untracked = red
[color "sh"]
    branch = yellow
[alias]
    lg = log --graph -25 --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    code-changes = "!git log --format=format: --name-only | egrep -v '^$' | sort | uniq -c | sort -rg | head -10"
    cc = "!git code-changes"
    ls = !/home/andreas/koda/git-ls/git-ls
    bv = branch -v

[rerere]
    enabled = true
[core]
    editor = vi
    excludesfile = /home/andreas/.gitconfig_gitignore
[push]
    default = simple
[pull]
    rebase = false
[commit]
    template = /home/andreas/.gitmsg.txt
    gpgsign = true

[init]
    templateDir = /home/andreas/git-skeleton/
    defaultBranch = main
[gpg]
    program = gpg2
