! urxvt
Xft.dpi: 192
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.autohint: 0
Xft.rgba: rgb
Xft.antialias: 1

/* urL-yanking */
URxvt.perl-ext-common: default,url-select,resize-font

URxvt.colorUL: #98971a
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.keysym.M-u: perl:url-select:select_next

/* Needs to be disabled for C-S keybindings to work */
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.urgentOnBell: true
URxvt.cursorBlink: false
URxvt.transparent: false
URxvt.shading:          20
URxvt.scrollBar:        false
URxvt.saveLines:        4096
URxvt.mouseWheelScrollPage: true

ratmenu.style: dreary
ratmenu.font: fixed
ratmenu.bgcolor: #222222
ratmenu.fgcolor: #99ff00

URxvt.borderless: true
URxvt.geometry: 120x40
URxvt.font: xft:DejaVuSansMono:size=10

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

